.App {
  text-align: center;
  width: 90%;
  margin: 10px auto 0 auto;

}

.inline-navbar{
  display: inline-block;
}

.poll-list{
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
}

.poll-list-item{
  border-bottom: 1px solid lightgrey;
}

li:last-child{
  border-bottom: none;
}
li:hover{
  background-color: lightgrey;
}
